<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring MVC File Upload</title>
</head>
<body>
  <h2>Submit Files</h2>
  <form name="uploadFiles" method="POST" th:action="@{/files/upload}" id="form" enctype="multipart/form-data">
    <table>
      <tr>
        <td><label>FileUpload</label></td>
        <td><input type="file" name="file" multiple/></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit"/></td>
      </tr>
    </table>
  </form>
  <div th:if="${batchUpload ne null}">
    <table>
      <thead>
        <tr>
          <th colspan="4">Results</th>
        </tr>
      </thead>
      <th:block th:each="wordCountGroup : ${batchUpload.wordCountGroups}">
        <tr>
          <th colspan="3">[ <a th:text="${wordCountGroup.boundMin}"></a> - <a th:text="${wordCountGroup.boundMax}"></a> ]</th>
          <th colspan="1">
            <a th:href="@{|download/${batchUpload.id}?boundMin=${wordCountGroup.boundMin}&boundMax=${wordCountGroup.boundMax}|}">
              <span>Download</span>
            </a>
          </th>
        </tr>
        <tr>
          <th>#</th>
          <th>Word</th>
          <th>Word Count</th>
          <th>Word Frequency</th>
        </tr>
        <tr th:each="entry, stat : ${wordCountGroup.wordCounts}">
          <td th:text="${stat.index + 1}">1</td>
          <td th:text="${entry.key}"></td>
          <td th:text="${entry.value}"></td>
          <td th:text="${#numbers.formatPercent((entry.value * 1.0 / batchUpload.totalWordCount), 1, 2)}"></td>
        </tr>
      </th:block>
      <tfoot>
        <tr>
          <th colspan="3">Total words</th>
          <th th:text="${batchUpload.totalWordCount}"></th>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
</html>